@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --background: #f9fafb;
  --foreground: #171717;
  --font-primary: "Guminert-New";
}

@font-face {
  font-family: "Kamerik205";
  src: url("/fonts/Kamerik 205 Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Kamerik205";
  src: url("/fonts/Kamerik 205 Thin Oblique.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Kamerik205";
  src: url("/fonts/Kamerik 205 Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Kamerik205";
  src: url("/fonts/Kamerik 205 Light Oblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Kamerik205";
  src: url("/fonts/Kamerik 205 Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kamerik205";
  src: url("/fonts/Kamerik 205 Book Oblique.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Kamerik205";
  src: url("/fonts/Kamerik 205 Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kamerik205";
  src: url("/fonts/Kamerik 205 Bold Oblique.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Kamerik205";
  src: url("/fonts/Kamerik 205 Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Kamerik205";
  src: url("/fonts/Kamerik 205 Heavy Oblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: 'Guminert-New', sans-serif !important; */
  font-family: "Kamerik205", sans-serif;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out;
}

/* in the imageSlider */
/* Hide scrollbar but keep scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* benefits-style image adjustments */
.benefits-img {
  width: 100%;
  max-width: 26.125rem;
  object-fit: cover;
}
@media screen and (max-width: 991px) {
  .benefits-img {
    max-width: 15.625rem;
  }
}
@media screen and (max-width: 767px) {
  .benefits-img {
    max-width: 100%;
    height: 100%;
  }
}

/* animation of the about section image slider */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

/* Optional: pause on hover */
.animate-marquee:hover {
  animation-play-state: play;
}
.service_card {
  position: sticky;
  top: 0;
  transform-style: preserve-3d;
}
@keyframes arrowFlow {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(8px, -8px, 0);
  }
}

/* small container for 2 arrows */
.arrow-box {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
}

/* both arrows start from the same position */
.arrow-slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  will-change: transform;
}

/* Animate both arrows on hover */
.group:hover .arrow-slide {
  animation: arrowFlow 0.4s linear infinite;
}
  
/* second arrow follows behind first */
.arrow-slide:nth-child(2) {
  animation-delay: 0.20s; /* half of 0.4s */
}

/* --- Testimonial card --- */
.testimonial_card {
  @apply bg-white border-r border-[#f0f0f0] flex flex-col p-6
          h-[21em] md:h-[27.5rem];
}

.tes_brand-name {
  @apply text-[#7e7e81] text-[1.01rem] font-semibold;
}

.tes_para {
  @apply text-[#7e7e81] mt-10 text-[1.55rem] leading-[1.33] font-bold
    max-md:mt-5 max-md:mb-4 max-md:text-lg;
}

.tes_profile-wrap {
  @apply flex gap-3 items-center mt-auto;
}

.tes_img-wrap {
  @apply w-[3.0em] h-[3.0em] rounded-full overflow-hidden;
}

.tes_profile-details {
  @apply flex flex-col;
}

.tes_name {
  @apply text-[1.1rem] font-bold;
}

.tes_role {
  @apply text-[#7e7e81] text-[1.1rem] font-semibold;
}
.custom-swiper-pagination .custom-bullet {
  width: 10px;
  height: 10px;
  background: #000;
  opacity: 0.25;
  border-radius: 50%;
  margin: 0 6px;
}

.custom-swiper-pagination .custom-bullet-active {
  opacity: 1;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.35s ease-out forwards;
}

